@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: Plus Jakarta Sans, system-ui, sans-serif;
    }
  }

body {
    font-size: 16px;
}

.unread {
  background-color: rgb(223, 232, 245)
}

.show{
  display: block;
}
